<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iljujob.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>24</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>27AEA363E47C8BA029B60BC62D5665FE489B649E</string>
				<key>dateExpires</key>
				<string>5/21/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27AEA363E47C8BA029B60BC62D5665FE489B649E</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FWX86LQM7Z</string>
						<key>name</key>
						<string>Chatda company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27AEA363E47C8BA029B60BC62D5665FE489B649E</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FWX86LQM7Z</string>
						<key>name</key>
						<string>Chatda company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FWX86LQM7Z.com.iljujob.kr</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.storekit.external-purchase</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>FWX86LQM7Z</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6704ad34-df82-44a7-8385-7d42045f4be9</string>
				<key>dateExpires</key>
				<string>7/30/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.iljujob.kr</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FWX86LQM7Z</string>
				<key>name</key>
				<string>Chatda company</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.3</string>
		</dict>
	</array>
</dict>
</plist>
